<!DOCTYPE html>

<html>
    <head>
        <title>Your prismic.io project</title>

        <!-- Scripts -->
        <script src="js/vendor/jquery-2.0.3.min.js"></script>
        <script src="js/vendor/prismic.io-1.0.10.min.js"></script>
        <script src="js/prismic-configuration.js"></script>
        <script src="js/prismic-helpers.js"></script>
        <script src="js/prismic-templates.js"></script>
    </head>
    <body>

        <header>

            <!-- Content release selectbox (only appears if the user is logged in) -->
            
            <script type="text/template">
                <% if(ctx.oauth().hasPrivilegedAccess) { %>
                    <div id="toolbar">

                        <form method="GET">
                            <label for="releaseSelector">See this website: </label>
                            <select id="releaseSelector" name="ref" onchange="this.form.submit()">
                                <option value="" <% if(ctx.ref == ctx.api.data.master.ref) { %> selected="selected" <% } %> >As currently seen by guest visitors</option>
                                <optgroup label="Or preview the website in a future release:">
                                <% for(var i=0; i<ctx.api.data.refs.length; i++) { %>
                                    <% if(!ctx.api.data.refs[i].isMaster) { %>
                                        <option value="<%= ctx.api.data.refs[i].ref %>" <% if(ctx.ref == ctx.api.data.refs[i].ref) { %> selected="selected" <% } %>>As <%= ctx.api.data.refs[i].label %></option>
                                    <% } %>
                                <% } %>
                                </optgroup>
                            </select>
                        </form>

                        <form action="signout.html" method="GET">
                            <input type="submit" value="Disconnect">
                        </form>

                        <hr>

                    </div>
                <% } %>
            </script>
        </header>

        <!-- View: bits of templates that are triggered in the controller (at the bottom) -->

        <div id="body">
            <script type="text/template">
                <%= doc.getStructuredText('blog.body').asHtml(ctx) %>
            </script>
        </div>

        <footer>
            <script type="text/template">
                <% if(!ctx.oauth().hasPrivilegedAccess) { %>
                    <hr><a href="signin.html">Sign in to preview changes</a>
                <% } %>
            </script>
        </footer>

        <!-- Controller (logic) -->

        <script type="text/javascript">
            $(function() {

                Helpers.withPrismic(function(ctx) {

                    ctx.api.form("everything").query('[[:d = at(document.id, "U5DWfjkAADgAK-rr")]]').ref(ctx.ref).submit(function(err, docs) {

                        if (err) { Configuration.onPrismicError(err); return; }

                        // Trigger the templates
                        $('header, #body, footer').render({
                            doc: docs.results[0], 
                            ctx: ctx
                        });

                    });

                });

            });
        </script>

    </body>
</html>
